OlimpiaIT.WebServices.Invoices.Test/Connected Services/WSFacturas/FacturaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FacturaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65442/InvoiceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65442/InvoiceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65442/InvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Contracts" />
      <xsd:import schemaLocation="http://localhost:65442/InvoiceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Manager" />
      <xsd:import schemaLocation="http://localhost:65442/InvoiceService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFactura_CalcularTotalFacturas_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularTotalFacturas" />
  </wsdl:message>
  <wsdl:message name="IFactura_CalcularTotalFacturas_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularTotalFacturasResponse" />
  </wsdl:message>
  <wsdl:message name="IFactura_ValidarFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarFactura" />
  </wsdl:message>
  <wsdl:message name="IFactura_ValidarFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IFactura_CalcularValorIVA_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularValorIVA" />
  </wsdl:message>
  <wsdl:message name="IFactura_CalcularValorIVA_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularValorIVAResponse" />
  </wsdl:message>
  <wsdl:portType name="IFactura">
    <wsdl:operation name="CalcularTotalFacturas">
      <wsdl:input wsaw:Action="http://tempuri.org/IFactura/CalcularTotalFacturas" message="tns:IFactura_CalcularTotalFacturas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFactura/CalcularTotalFacturasResponse" message="tns:IFactura_CalcularTotalFacturas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IFactura/ValidarFactura" message="tns:IFactura_ValidarFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFactura/ValidarFacturaResponse" message="tns:IFactura_ValidarFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularValorIVA">
      <wsdl:input wsaw:Action="http://tempuri.org/IFactura/CalcularValorIVA" message="tns:IFactura_CalcularValorIVA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFactura/CalcularValorIVAResponse" message="tns:IFactura_CalcularValorIVA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFactura" type="tns:IFactura">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularTotalFacturas">
      <soap:operation soapAction="http://tempuri.org/IFactura/CalcularTotalFacturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarFactura">
      <soap:operation soapAction="http://tempuri.org/IFactura/ValidarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularValorIVA">
      <soap:operation soapAction="http://tempuri.org/IFactura/CalcularValorIVA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturaService">
    <wsdl:port name="BasicHttpBinding_IFactura" binding="tns:BasicHttpBinding_IFactura">
      <soap:address location="http://localhost:65442/InvoiceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>