OlimpiaIT.WebServices.Invoices.Test/Connected Services/WSFacturas/InvoiceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65442/InvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Contracts" />
  <xs:import schemaLocation="http://localhost:65442/InvoiceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Manager" />
  <xs:element name="CalcularTotalFacturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Contracts" minOccurs="0" name="facturas" nillable="true" type="q1:ArrayOfInvoiceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularTotalFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Contracts" minOccurs="0" name="CalcularTotalFacturasResult" nillable="true" type="q2:ResultadoValidacionFactura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Contracts" minOccurs="0" name="factura" nillable="true" type="q3:InvoiceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Manager" minOccurs="0" name="ValidarFacturaResult" nillable="true" type="q4:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularValorIVA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OlimpiaIT.WebServices.Invoices.Contracts" minOccurs="0" name="factura" nillable="true" type="q5:InvoiceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularValorIVAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularValorIVAResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>